# Rust
/target
/debug
**/*.rs.bk
*.pdb
.vscode

# Python
*.pyc
.pycache
dist/
build/
*.spec
__pycache__/
*.py[cod]
*$py.class

# Tests
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# env
.venv
.env
